<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Registra Utente')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>

		<h4>Aggiungi Chef</h4>

		<form th:action="@{/admin/addChef}" method="POST">
			<table>
				<tr>
					<td>Origin</td>
					<td><input type="text" placeholder="origin" required
						th:field="${chef.origin}" /></td>
					<td th:if="${#fields.hasErrors('chef.origin')}"
						th:errors="${chef.origin}" th:style="'color:red'"></td>
				</tr>
				<!--<tr>
				 	<td>Password</td>
					<td><input type="password" placeholder="password" required
						th:field="${chef.password}" /></td>
					<td th:if="${#fields.hasErrors('chef.password')}"
						th:errors="${chef.password}" th:style="'color:red'"></td>
				</tr>-->
				<tr>
					<td>Nome</td>
					<td><input type="text" placeholder="nome" required
						th:field="${chef.name}" /></td>
					<td th:if="${#fields.hasErrors('chef.name')}"
						th:errors="${chef.name}" th:style="'color:red'"></td>
				</tr>
				<tr>
					<td>Cognome</td>
					<td><input type="text" placeholder="cognome" required
						th:field="${chef.cognome}" /></td>
					<td th:if="${#fields.hasErrors('chef.cognome')}"
						th:errors="${chef.cognome}" th:style="'color:red'"></td>
				</tr>


				<!--  <div>
				<fieldset>
					<legend>Buffet preparati</legend>
					<br> <input type="checkbox" name="html" value="html" /> html
					<br /> <input type="checkbox" name="css" value="css" /> css
					<br /> <input type="checkbox" name="javascript" value="javascript" /> JavaScript
				</fieldset>
				</div>-->


				<tr>
					<td>
						<button type="submit">Registra</button>
					</td>
				</tr>
			</table>
		</form>



	</div>

	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>

</body>
</html>
